default_stages: [
  pre-commit,
  pre-push,
]
default_install_hook_types: [
  pre-commit,
  pre-push,
  post-checkout,
  post-merge,
  post-rewrite,
]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ".*\\.vscode/"
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: debug-statements
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["--lock"]
      - id: poetry-install
        entry: poetry sync
        # It's required to use `system` language because otherwise
        # dependencies will be installed into pre-commit's venv
        language: system
        stages: [
          post-checkout,
          post-merge,
          post-rewrite,
        ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
      - id: add-trailing-comma

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.4.0
    hooks:
      - id: cspell

  - repo: local
    hooks:
      - id: check_list
        name: short start up check
        entry: inv -l
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ pre-push ]

      - id: mypy
        name: Run mypy
        entry: inv mypy.run
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ pre-push ]
