name: CR

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [
          "3.10",
          "3.11",
          "3.12",
          "3.13",
          "3.14",
        ]
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      id: install-python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: latest
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ steps.install-python.outputs.python-version }}-${{ hashFiles('**/.pre-commit-config.yaml') }}
    - name: Cache poetry dependencies
      id: cached-poetry-dependencies
      uses: actions/cache@v5
      with:
        path: .venv
        key: ${{ runner.os }}-poetry-${{ steps.install-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
    # Install dependencies if cache does not exist
    - name: Install local dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry sync --all-extras --no-interaction
    - name: Run checks
      run: |
        poetry run pre-commit run --hook-stage push --all-files
